@use 'colors';
@use 'shadows';

.header {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5em;
  width: 100%;
}

.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    background-color: colors.$White;
    border-radius: 5px;
    box-shadow: shadows.$Shadow1;
    height: 470px;
    margin: 10px;
    width: 250px;
  }

  &__header {
    height: 250px;
    width: 250px;
  }

  &__img-container {
    height: inherit;
    width: inherit;
  }

  &__image {
    height: inherit;
    width: inherit;
  }

  &__content {
    padding: 1em;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;

    &::first-letter {
      color: colors.$RedPink;
    }
  }

  &__text {
    font-weight: 300;
  }
}

@media (hover: hover) {
  .cards {

    &__card:hover {
      box-shadow: shadows.$RedPinkShadow1;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 3em;
  }
}