<div #map class="mapa"></div>


<div class="control">
  <div>
    <label class="control__label">
      zoom: {{ getZoomPage() | number: '2.2-2' }}
      - Lng, Lat: [{{ center[0] | number: '3.2-2' }}, {{ center[1] | number: '2.2-2'}} ]
    </label><br>
    <div>
      <input
      type="range"
      class="control__slider"
      [value]="getZoomPage()"
      min="2"
      max="17"
      (input)="zoomCambio( zoomInput.value)"
      #zoomInput>
    </div>
  </div>

  <div class="control__buttons">
    <button
    class="control__button"
    (click)="zoomOut()">
      -
    </button>
    <button class="control__button  control__float-end" (click)="zoomIn()">
      +
    </button>
  </div>
</div>
