@use 'colors';
@use 'mixins';
@use 'shadows';

.control {
  background-color: colors.$White;
  border-radius: 5px;
  bottom: 50px;
  color: colors.$Black;
  box-shadow: shadows.$Shadow1;
  left: 50px;
  padding: 1rem;
  position: fixed;
  width: 380px;
  z-index: 999999;

  &__buttons {
    margin-top: 10px;
  }

  &__float-end {
    float: right;
  }

  &__button {
    @include mixins.button(colors.$RedPink, colors.$RedPinkBlackL)
  }

  &__slider {
    -webkit-appearance: none;
    -webkit-transition: .2s;
    background-color: colors.$LightGray;
    border-radius: 8px;
    opacity: 1;
    transition: opacity .2s;
    height: 8px;
    width: 100%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: colors.$RedPink;
      border-radius: 50%;
      cursor: pointer;
      height: 18px;
      transition: .2s ease-in-out;
      width: 18px;

      &:active,
      &:focus {
        transform: scale(1.6);
      }
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: colors.$RedPink;
      border-radius: 50%;
      cursor: pointer;
      height: 18px;
      transition: .2s ease-in-out;
      width: 18px;

      &:active,
      &:focus {
        transform: scale(1.6);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .control {
    bottom: 50px;
    left: 25px;
    width: 270px;

    &__label {
      font-size: 13px;
    }
  }
}