@use 'colors';
@use 'shadows';
@use 'mixins';

.markers {
  background-color: colors.$White;
  border-radius: 5px;
  position: fixed;
  box-shadow: shadows.$Shadow1;
  margin: 1em 2em;
  padding: 1em 20px;
  right: 1em;
  top: 5em;
  z-index: 2;

  &__item {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: .5em 0 0 0;
    padding: .5em 1em;
    transition: background-color 1s ease;
  }

  &__add {
    background-color: colors.$RedPink;
    border-radius: 50%;
    color: colors.$White;
    height: 25px;
    padding: 4px;
    text-align: center;
    width: 25px;

  }

  &__agregar {
    margin-left: 5px;
    margin-top: 4px;
  }
}

.modal {
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  position: fixed;
  padding: 3em;
  transition: background 200ms ease;
  text-align: center;
  width: 100%;
  z-index: 200;

  &__title {
    color: colors.$RedPink;
    font-weight: bolder;
  }

  &__content {
    background-color: colors.$White;
    border-radius: 5px;
    box-shadow: shadows.$Shadow1;
    padding: .5em;
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__button {
    @include mixins.button(colors.$RedPink, colors.$RedPinkBlackL);
    margin: 1em;
  }
}

@media screen and (max-width: 729px) {
  .markers {
    top: .2em;
    right: .1.7em;
  }
}

@media (hover: hover) {
  .markers__item:hover {
    background-color: colors.$LightGray;
  }
}