<footer class="footer">
  <div class="footer__container">
    <section class="row">
      <article class="footer__item">
        <h1 class="footer__title">Proyecto</h1>
        <p class="footer__text">
          Este proyecto fue hecho usando diferentes tecnologías web
        </p>
      </article>
      <article class="footer__item">
        <h2 class="footer__title">Get Help</h2>
        <ul>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">FAQ</a></li>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Shipping</a></li>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Returns</a></li>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Order Status</a></li>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Payment Options</a></li>
        </ul>
      </article>
      <article class="footer__item">
        <h3 class="footer__title">Online Shop</h3>
        <ul>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Watch</a></li>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Car</a></li>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Shoes</a></li>
          <li class="footer__item-link">
            <a class="footer__link"
            href="#">Adress</a></li>
        </ul>
      </article>
      <article class="footer__item">
        <h4 class="footer__title">Sígueme</h4>
        <div class="footer__social-links">
          <a class="footer__social-link" href="#">
            <img
            class="footer__social"
            src="../../../assets/social icons/logo-facebook.svg"
            alt="Facebook Emmanuel Gdos"
            width="30px">
          </a>
          <a class="footer__social-link" href="#">
            <img
            class="footer__social"
            src="../../../assets/social icons/logo-instagram.svg"
            alt="Instagram Emmanuel Gdos"
            width="30px">
          </a>
          <a class="footer__social-link" href="#">
            <img
            class="footer__social"
            src="../../../assets/social icons/logo-github.svg"
            alt="Github Emmanuel Gdos"
            width="30px">
          </a>
          <a class="footer__social-link" href="#">
            <img
            class="footer__social"
            src="../../../assets/social icons/logo-whatsapp.svg"
            alt="WhatsApp Emmanuel Gdos"
            width="30px">
          </a>
        </div>
      </article>
    </section>
  </div>
</footer>
